
<div class="modal fade" id="ModalRoute" data-init="0" data-controller="manage_routes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Pilih Paket</h4>
            </div>
            <div class="modal-body">
                <table data-display="1-2-4" data-controller="manage_routes" class="table table-striped " id="table_Route">
                    <thead>
                        <tr>
                            <th></th>
                            <th data-fieldname="name">Nama Paket</th>
                            <th data-fieldname="dest_id">Tujuan </th>
                            <th data-fieldname="base_price">Harga </th>
                            <th data-fieldname="vehicle_id">Kendaraan </th>
                            <th data-fieldname="vehicle_img" data-fieldtype="image"> </th>
                        </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>
</div>
