 {% extends "dashboard.html" %} {% set title=" Route " %} {% if routes %} {% set bc_text = routes.name %} {% else %} {% set bc_text = 'Baru' %} {% endif %} {% set breadcrumbs = [ {'link': base_url~'index.php/manage_routes','text':' Route '}, {'link':'#','text':bc_text
}] %} {% block content %}
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<form id="form_Route" method="post" action="{{base_url}}index.php/manage_routes/write/{{ routes.id }}" data-parsley-validate class="form-horizontal form-label-left">
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title"> Route </h3>
					<a href="{{base_url}}index.php/manage_routes" class="btn btn-default pull-right">Kembali</a> {% if routes %}
					<a href="#" class="btn btn-danger pull-right" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash-o"></i> Hapus</a>
					<a href="#" class="btn btn-primary pull-right" id="btn-edit"><i class="fa fa-edit"></i> Edit</a>
					<a href="#" style="display:none" class="btn btn-primary pull-right" id="btn-canceledit">Batal</a> {% endif %}
					<button type="submit" {% if routes %}style="display:none" {% endif %} name="button" class="btn btn-success pull-right" id="btn-save"><i class="fa fa-save"></i> Simpan</button>
					<div class="clearfix"></div>
				</div>
				<div class="box-body">

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Nama Paket </label>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div {% if routes %}style="display:none" {% endif %} class="input-wrap">
								<input type="text" id="name" value="{{ routes.name }}" name="Name" required="required" class="form-control  col-md-7 col-xs-12">
							</div>
							{% if routes %}
							<p class="control-value">{{ routes.name }}</p>
							{% endif %}
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Harga </label>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div {% if routes %}style="display:none" {% endif %} class="input-wrap">
								<input type="text" name="BasePrice" id="base_price" value="{{ routes.BasePrice }}" class="form-control" />
							</div>
							{% if routes %}
							<p class="control-value">{{ routes.BasePrice }}</p>
							{% endif %}
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Tujuan </label>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div {% if routes %}style="display:none" {% endif %} class="input-wrap">
								{{ selection_m2o('DestId','Destination',routes.Destination.Id) | raw }}
							</div>
							{% if routes %}
							<p class="control-value">{{ routes.Destination.Name }}</p>
							{% endif %}
						</div>
					</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Kendaraan </label>
						<div class="col-md-6 col-sm-6 col-xs-12">
							<div {% if routes %}style="display:none" {% endif %} class="input-wrap">
								{{ selection_m2o('VehicleId','Vehicle',routes.Vehicle.Id) | raw }}
							</div>
							{% if routes %}
							<p class="control-value">{{ routes.Vehicle.name }}</p>
							{% endif %}
						</div>
					</div>

				</div>
			</div>
		</form>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Modal title</h4>
			</div>
			<div class="modal-body">
				<p>Apakah anda yakin ingin menghapus data ini?</p>
			</div>
			<div class="modal-footer">
				<form method="post" action="{{ base_url }}index.php/manage_routes/delete/{{ routes.id }}">
					<button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
					<input name="confirm" type="submit" value="Ya" class="btn btn-primary" />
				</form>
			</div>
		</div>
	</div>
</div>
{% include "admin/destinations/_modal.html" %} {% include "admin/destinations/_modal.html" %} {% include "admin/vehicles/_modal.html" %} {% endblock %} {% block bottom%}
<script>
	$('#btn-edit').click(function() {
		$('#btn-canceledit').show()
		$('#btn-save').show()
		$('.input-wrap').show()
		$('.control-value').hide()
		$(this).hide()
	})
	$('#btn-canceledit').click(function() {
		$('#btn-edit').show()
		$('#btn-save').hide()
		$('.input-wrap').hide()
		$('.control-value').show()
		$(this).hide()
	})
	$(function() {
		$('.input-date').daterangepicker({
			singleDatePicker: true,
			showDropdowns: true,
			locale: {
				format: 'YYYY/MM/DD'
			}
		}, function(start, end, label) {});
		$('.input-datetime').daterangepicker({
				singleDatePicker: true,
				showDropdowns: true,
				timePicker: true,
				timePickerIncrement: 30,
				locale: {
					format: 'YYYY/MM/DD hh:mm:ss'
				}
			},
			function(start, end, label) {});
	});
</script>
{% endblock %}
