 {% extends "dashboard.html" %} {% set title=" Route " %} {% set breadcrumbs = [ {'link':'#','text':' Route ' }] %} {% block content %}
<div class="">
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title"> Paket </h3>
          <a href="/index.php/manage_routes/print_report" class="btn btn-primary pull-right">Cetak</a>

					<a href="{{base_url}}index.php/manage_routes/create" class="btn btn-primary pull-right">Data Baru</a>
					<div class="clearfix"></div>
				</div>
				<div class="box-body">
					<p class="text-muted font-13 m-b-30"></p>
					<table data-controller="manage_routes" class="table table-striped " id="table_Route">
						<thead>
							<tr>
								<th data-fieldname="name">Nama </th>
								<th data-fieldname="dest_id">Tujuan </th>
								<th data-fieldname="vehicle_id">Kendaraan </th>
								<th data-fieldname="base_price">Harga </th>
								<th></th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %} {% block bottom %}
<script>
	$(document).ready(function() {
		$('#table_Route').loadTableData()
	})
</script>
{% endblock %}
