{% extends "print.html" %}
{% block content %}
<h2>Data Paket</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Tujuan</th>
      <th>Kendaraan</th>
      <th>Harga</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in data%}
    <tr>
      <td>{{obj.Destination.Name}}</td>
      <td>{{obj.Vehicle.Name}}</td>
      <td>{{obj.BasePrice}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
