    
<div class="modal fade" id="ModalUser" data-init="0" data-controller="manage_users" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Pilih User</h4>
            </div>
            <div class="modal-body">
                <table data-display="2" data-controller="manage_users" class="table table-striped " id="table_User">
                    <thead>
                        <tr>
                            <th></th>
                            <th data-fieldname="name">Name </th>
                            <th data-fieldname="password">Password </th>
                            <th data-fieldname="level">Level </th>
                        </tr>
                    </thead>
                </table>
                    
            </div>
        </div>
    </div>
</div>
    