
{% extends "dashboard.html" %}
{% set title=" User " %}

{% set breadcrumbs = [
	{'link':'#','text':' User '  }]
%}
{% block content %}
	<div class="">
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title"> User </h3>
						<a href="{{base_url}}index.php/manage_users/create" class="btn btn-primary pull-right">Data Baru</a>
						<div class="clearfix"></div>
					</div>
					<div class="box-body">
						<p class="text-muted font-13 m-b-30"></p>
							<table data-controller="manage_users" class="table table-striped " id="table_User">
		<thead>
			<tr>
				<th data-fieldname="name">Name </th>
				<th data-fieldname="level">Level </th>
				<th></th>
			</tr>
		</thead>
</table>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block bottom %}
<script>

$(document).ready(function(){
    $('#table_User').loadTableData()
  })
</script>
{% endblock %}
