{% extends "print.html" %}
{% block content %}
<div class="col-xs-12" >
  <h3>Kwitansi Pembayaran</h3>
  <hr>

    <table class="table table-striped">
      <tr>
        <td>Kode Pemesanan</td>
        <td>:</td>
        <td>{{payments.Reservation.Code}}</td>
      </tr>
      <tr>
        <td>Nama Pelanggan</td>
        <td>:</td>
        <td>{{payments.Reservation.Customer.Name}}</td>
      </tr>
      <tr>
        <td>Mobil yang disewa</td>
        <td>:</td>
        <td>{{payments.Reservation.Route.Vehicle.Name}}</td>
      </tr>
    <tr>
      <td>Biaya Sewa</td>
      <td>:</td>
      <td>{{payments.RentFee}}</td>
    </tr>
    <tr>
      <td>Biaya Denda</td>
      <td>:</td>
      <td>{{payments.PenaltyFee}}</td>
    </tr>
    <tr>
      <td>Total</td>
      <td>:</td>
      <td>{{payments.Total}}</td>
    </tr>
    <tr>
      <td>Status Pembayaran</td>
      <td>:</td>
      <td>{{payments.Confirm?'Lunas':'Belum lunas'}}</td>
    </tr>
  </table>
</div>
{% endblock %}
