
	<div class="modal fade" id="ModalReservation" data-init="0" data-controller="manage_reservations" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Pilih Reservation</h4>
				</div>
				<div class="modal-body">
					<table data-display="1" data-controller="manage_reservations" class="table table-striped " id="table_Reservation">
		<thead>
			<tr>
				<th></th>
				<th data-fieldname="code">Kode Pemesanan </th>
				<th data-fieldname="route_id">Paket/Tujuan </th>
				<th data-fieldname="customer_id">Nama Pelanggan </th>
				<th data-fieldname="start_time" data-fieldtype="datetime">Waktu Pemesanan </th>
				<th data-fieldname="status_pengembalian">Status Pengembalian </th>
			</tr>
		</thead>
	</table>

				</div>
			</div>
		</div>
	</div>
