{% extends "dashboard.html" %} {% set title=" Pemesanan " %} {% if reservations %} {% set bc_text = reservations.name %} {% else %} {% set bc_text = 'Baru' %} {% endif %} {% set breadcrumbs = [ {'link': base_url~'index.php/manage_reservations','text':'
Pemesanan '}, {'link':'#','text':bc_text }] %} {% block content %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form id="form_Pemesanan" method="post" action="{{base_url}}index.php/manage_reservations/write/{{ reservations.id }}" data-parsley-validate class="form-horizontal form-label-left">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title"> Pemesanan  </h3>
                    <a href="{{base_url}}index.php/manage_reservations" class="btn btn-default pull-right">Kembali</a> {% if reservations %}
                    {% if res.session.Level == 2 %}
                    <a href="#" class="btn btn-danger pull-right" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash-o"></i> Hapus</a>

                    {% if reservations and not reservations.ReturnTime %}<a href="#" class="btn btn-success pull-right" data-toggle="modal" data-target="#returnModal"><i class="fa fa-car"></i> Mobil Dikembalikan</a>{% endif %}
                    {% else %}
                    {% if reservations %}
                    <a href="/index.php/manage_payments/pay_reservation/{{reservations.Id}}" class="btn btn-success pull-right">Pembayaran</a>
                    {% endif %}
                    {% endif %}
                    <!-- <a href="#" class="btn btn-primary pull-right" id="btn-edit"><i class="fa fa-edit"></i> Edit</a> -->
                    <a href="#" style="display:none" class="btn btn-primary pull-right" id="btn-canceledit">Batal</a> {% endif %}
                    <button type="submit" {% if reservations %}style="display:none" {% endif %} name="button" class="btn btn-success pull-right" id="btn-save"><i class="fa fa-save"></i> Simpan</button>
                    <div class="clearfix"></div>
                </div>
                <div class="box-body">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Code">Kode</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div {% if reservations %}style="display:none" {% endif %} class="input-wrap">
                                <input type="text" placeholder="Kode" id="Code" value="{{ reservations.Code?reservations.Code: numbering({'separator':'-','format':'C-i','tb_name':'reservation','tb_field':'code'}) }}" name="Code" required="required" class="form-control  col-md-7 col-xs-12">
                            </div>
                            {% if reservations %}
                            <p class="control-value">{{ reservations.Code }}</p>
                            {% endif %}
                        </div>
                    </div>

<!--                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Vehicle">Kendaraan</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div {% if reservations %}style="display:none" {% endif %} class="input-wrap">
                                {{ selection_m2o('Vehicle','Vehicle') | raw  }}
                                </span>
                            </div>
                            {% if reservations %}
                            <p class="control-value">{{ reservations.Route.Vehicle.Name }}</p>
                            {% endif %}
                        </div>
                    </div>-->

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="RouteId">Mobil/Tujuan</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div {% if reservations %}style="display:none" {% endif %} class="input-wrap input-group">
                                <input type="hidden" type="text" id="RouteId" value="{{ reservations.RouteId }}" name="RouteId">
                                <input type="text" required="required" name="displayRouteId" id="displayRouteId" placeholder="Paket" value="{{ reservations.Route.Name ~' - '~ reservations.Route.Destination.Name ~' - '~ reservations.Route.Vehicle.Name }}" class="form-control" />
                                <span class="input-group-btn">
                                    <button class="btn btnModal btn-default" id="btnRouteId"  data-target="ModalRoute" type="button">Cari</button>
                                </span>
                            </div>
                            {% if reservations %}
                            <p class="control-value">{{ reservations.Route.Name ~' - '~ reservations.Route.Destination.Name ~' - '~ reservations.Route.Vehicle.Name }}</p>
                            {% endif %}
                        </div>
                    </div>
                    {% if res.session.Level == 2 %}
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="CustomerId">Pelanggan</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div {% if reservations %}style="display:none" {% endif %} class="input-wrap input-group">
                                <input type="hidden" type="text" id="CustomerId" value="{{ reservations.CustomerId }}" name="CustomerId">
                                <input type="text" required="required" name="displayCustomerId" id="displayCustomerId" placeholder="Pelanggan" value="{{ reservations.Customer.Name }}" class="form-control" />
                                <span class="input-group-btn">
                                    <button class="btn btnModal btn-default" id="btnCustomerId"  data-target="ModalCustomer" type="button">Cari</button>
                                </span>
                            </div>
                            {% if reservations %}
                            <p class="control-value">{{ reservations.Customer.Name }}</p>
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                    <!-- <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="CustomerId">Total Bayar</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <p class="control-value">{{ reservations.Customer.Name }}</p>
                        </div>
                    </div> -->
                    {% endif %}
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="StartTime">Waktu Awal Peminjaman</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div {% if reservations %}style="display:none" {% endif %} class="input-wrap">
                                <input type="text" placeholder="Waktu Awal Peminjaman" id="StartTime" value="{{ reservations.StartTime | date('Y/m/d') }}" name="StartTime" required="required" class="input-date form-control  col-md-7 col-xs-12">
                            </div>
                            {% if reservations %}
                            <p class="control-value">{{ reservations.StartTime | date('d M Y') }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="StartTime">Status Pembayaran</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div {% if reservations %}style="display:none" {% endif %} class="input-wrap">
                                <input type="text" placeholder="Waktu Awal Peminjaman" id="StartTime" value="{{ reservations.StartTime | date('Y/m/d') }}" name="StartTime" required="required" class="input-date form-control  col-md-7 col-xs-12">
                            </div>
                            {% if reservations %}
                            <p class="control-value">{{ reservations.Payments[0]? 'Dibayar':'Belum dibayar' }}</p>
                            {% endif %}
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="EndTime">Waktu Akhir Peminjaman</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div {% if reservations %}style="display:none" {% endif %} class="input-wrap">
                                <input type="text" placeholder="Waktu Akhir Peminjaman" id="EndTime" value="{{ reservations.EndTime | date('Y/m/d') }}" name="EndTime" required="required" class="input-date form-control  col-md-7 col-xs-12">
                            </div>
                            {% if reservations %}
                            <p class="control-value">{{ reservations.EndTime | date('d M Y') }}</p>
                            {% endif %}
                        </div>
                    </div>
                    {% if reservations.ReturnTime %}
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="ReturnTime">Waktu Pengembalian</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div {% if reservations %}style="display:none" {% endif %} class="input-wrap">
                                <input type="text" placeholder="Waktu Pengembalian" id="ReturnTime" value="{{ reservations.ReturnTime | date('Y/m/d') }}" name="ReturnTime" required="required" class="input-date form-control  col-md-7 col-xs-12">
                            </div>
                            {% if reservations %}
                            <p class="control-value">{{ reservations.ReturnTime | date('d M Y') }}</p>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>Apakah anda yakin ingin menghapus data ini?</p>
            </div>
            <div class="modal-footer">
                <form method="post" action="{{ base_url }}index.php/manage_reservations/delete/{{ reservations.id }}">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
                    <input name="confirm" type="submit" value="Ya" class="btn btn-primary" />
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="returnModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="post" action="{{ base_url }}index.php/manage_reservations/set_return/{{ reservations.Id }}">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <label for="">Waktu Pengembalian</label>
                <input type="text" placeholder="Waktu Pengembalian" id="ReturnTime" value="{{ reservations.ReturnTime | date('Y/m/d') }}" name="ReturnTime" required="required" class="input-date form-control  col-md-7 col-xs-12">
            </div>
            <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
                    <input name="confirm" type="submit" value="Ya" class="btn btn-primary" />
            </div>
        </form>
        </div>
    </div>
</div>
{% include "admin/routes/_modal.html" %}
{% include "admin/customers/_modal.html" %}
{% endblock %} {% block bottom%}
<script>
    $('#btn-edit').click(function() {
        $('#btn-canceledit').show()
        $('#btn-save').show()
        $('.input-wrap').show()
        $('.control-value').hide()
        $(this).hide()
    })
    $('#btn-canceledit').click(function() {
        $('#btn-edit').show()
        $('#btn-save').hide()
        $('.input-wrap').hide()
        $('.control-value').show()
        $(this).hide()
    })
    $(function() {
        $('.input-date').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            locale: {
                format: 'YYYY/MM/DD'
            }
        }, function(start, end, label) {});
        $('.input-datetime').daterangepicker({
            singleDatePicker: true,
            showDropdowns: true,
            timePicker: true,
            timePickerIncrement: 30,
            locale: {
                format: 'YYYY/MM/DD hh:mm:ss'
            }
        },
        function(start, end, label) {});
    });
</script>
{% endblock %}
