
{% extends "dashboard.html" %}
{% set title=" Pemesanan " %}

{% set breadcrumbs = [
	{'link':'#','text':' Pemesanan '  }]
%}
{% block content %}
	<div class="">
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
        <form class="" method="post">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title"> Laporan Penyewaan </h3>

						<div class="clearfix"></div>
					</div>
					<div class="box-body">
              <div class="col-sm-6">

                  <label for="">Mulai</label>
                  <input type="text" name="mulai" class="form-control input-date" value="">
              </div>
              <div class="col-sm-6">
                <label for="">Selesai</label>
                <input type="text" name="selesai" class="form-control input-date" value="">
              </div>
              <div class="col-sm-12">
              </div>
						<p class="text-muted font-13 m-b-30"></p>

					</div>
          <div class="box-footer">
            <button type="submit" name="button" class="btn btn-primary pull-right">Buat laporan</button>
          </div>
				</div>
      </form>
			</div>
		</div>
	</div>

{% endblock %}
{% block bottom %}

{% endblock %}
