
{% extends "dashboard.html" %}
{% set title=" Pemesanan " %}

{% set breadcrumbs = [
	{'link':'#','text':' Pemesanan '  }]
%}
{% block content %}
	<div class="">
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title"> Pemesanan </h3>
						<!-- <a href="{{base_url}}index.php/manage_reservations/create" class="btn btn-primary pull-right">Data Baru</a> -->
						{% if res.session.Level == 2 %}
						<a href="/index.php/manage_reservations/print_report" class="prt_laporan btn btn-primary pull-right">Cetak</a>
						{% endif %}
						<div class="clearfix"></div>
					</div>
					<div class="box-body">
						<p class="text-muted font-13 m-b-30"></p>
							<table data-controller="manage_reservations" class="table table-striped " id="table_Pemesanan">
		<thead>
			<tr>
				<th data-fieldname="code">Kode Pemesanan </th>
				<th data-fieldname="route_id">Paket/Tujuan </th>
				<th data-fieldname="customer_id">Nama Pelanggan </th>
				<th data-fieldname="start_time" data-fieldtype="date">Waktu Pemesanan </th>
				<th data-fieldname="status_pengembalian">Status Pengembalian </th>
				<th></th>
			</tr>
		</thead>
</table>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block bottom %}
<script>

$(document).ready(function(){
    $('#table_Pemesanan').loadTableData()
  })
</script>
{% endblock %}
