{% extends "print.html" %}
{% block content %}
<h2>Data Paket Periode {{start}} - {{finish}}</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th data-fieldname="code">Kode Pemesanan </th>
      <th data-fieldname="route_id">Tujuan </th>
      <th data-fieldname="customer_id">Nama Pelanggan </th>
      <th data-fieldname="start_time" data-fieldtype="date">Waktu Pemesanan </th>
      <th data-fieldname="status_pengembalian">Status Pengembalian </th>
    </tr>
  </thead>
  <tbody>
    {% for obj in data%}
    <tr>
      <td>{{obj.Code}}</td>
      <td>{{obj.Route.Destination.Name}}</td>
      <td>{{obj.Customer.Name}}</td>
      <td>{{obj.StartTime | date('d M Y')}}</td>
      <td>{{obj.ReturnTime?'Dikembalikan':'Belum Dikembalikan'}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
