{% extends "pdf.html" %}
{% block body %}
<h3>Laporan Penyewaan</h3>
<table class="table table-striped">
<thead>
  <tr>
    <th>Kode</th>
    <th>Nama Pelanggan</th>
    <th>Paket</th>
    <th>Nama Mobil</th>
    <th>Tanggal Pinjam</th>
  </tr>
</thead>
<tbody>
  {% for reservation in reservations %}
  <tr>
    <td>{{reservation.Code}}</td>
    <td>{{reservation.Customer.name}}</td>
    <td>{{reservation.Route.Name}}</td>
    <td>{{reservation.Route.Vehicle.Name}}</td>
    <td>{{reservation.StartTime}}</td>
  </tr>
  {% endfor %}
</tbody>
</table>
{% endblock%}
