{% if res.session.level == 1 %}
{% set menus = [{
  'name':'User',
  'icon':'user',
  'menu':[{
    'name':'Kelola Pengguna',
    'link':'manage_users'
  }]
},
{
   'name':'Logout',
  'icon':'sign-out',
  'menu':[{
    'name':'Logout',
    'link':'auth/do_logout'
  }]
}]
 %}
{% elseif res.session.level == 2 %}
{% set menus = [
  {
    'name':'Pemesanan',
    'icon':'dashboard',
    'menu':[{
      'name':'Pemesanan',
      'link':'manage_reservations'
    },{
      'name':'Pelanggan',
      'link':'manage_customers'
    }
    ]
  },
  {
    'name':'Kendaraan',
    'icon':'bus',
    'menu':[{
      'name':'Kendaraan',
      'link':'manage_vehicles'
    }]

  },
  {
    'name':'Paket & Harga',
    'icon':'book',
    'menu':[{
      'name':'Paket & Harga',
      'link':'manage_routes'
    }]
  },
  {
    'name':'Pembayaran',
    'icon':'dollar',
    'menu':[{
      'name':'Daftar Transaksi',
      'link':'manage_payments'
    }]
  },
  {
     'name':'Logout',
    'icon':'sign-out',
    'menu':[{
      'name':'Logout',
      'link':'auth/do_logout'
    }]
  }

  ]%}
  {% else %}
  {% set menus = [
    {
      'name':'Pemesanan',
      'icon':'dashboard',
      'menu':[{
        'name':'Data Pemesanan',
        'link':'manage_reservations'
      },{
        'name':'Pesan Baru',
        'link':'manage_reservations/create'
      },{
        'name':'Pembayaran',
        'link':'manage_payments'
      }]
    },
    {
       'name':'Logout',
      'icon':'sign-out',
      'menu':[{
        'name':'Logout',
        'link':'auth/do_logout'
      }]
    }]
    %}
  {% endif %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title> Dashboard</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="{{base_url}}public/components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="{{base_url}}public/components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="{{base_url}}public/components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="{{base_url}}public/assets/css/AdminLTE.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="{{base_url}}public/components/datatables.net-bs/css/dataTables.bootstrap.min.css">

  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="{{base_url}}public/assets/css/skins/_all-skins.min.css">
  <!-- Morris chart -->
  <link rel="stylesheet" href="{{base_url}}public/components/morris.js/morris.css">
  <!-- Date Picker -->
  <link rel="stylesheet" href="{{base_url}}public/components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="{{base_url}}public/components/bootstrap-daterangepicker/daterangepicker.css">
  <link rel="stylesheet" href="{{base_url}}public/components/select2/dist/css/select2.min.css">


  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">Aplikasi Penyewaan Mobil</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Aplikasi Penyewaan Mobil</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">

            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header"
                <p>
                  {{res.session}}
                </p>
              </li>
              <!-- Menu Body -->

              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-right">
                  <a href="/index.php/logout" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="{{base_url}}public/assets/img/avatar.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p> {{res.session.Name}}</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>

      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->

      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">NAVIGASI</li>
        {% for menu in menus %}
        <li class="treeview">
          <a href="{{ menu.link?menu.link:'#' }}">
            <i class="fa fa-{{menu.icon}}"></i> <span>{{menu.name}}</span>
            {% if menu.menu %}
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            {% endif %}
          </a>
          <ul class="treeview-menu">
            {% for childmenu in menu.menu%}
            <li><a href="{{base_url}}index.php/{{childmenu.link}}"><i class="fa fa-circle-o"></i> {{childmenu.name}}</a></li>
            {% endfor %}
          </ul>
        </li>
        {% endfor %}
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Control panel</small>
      </h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li {% if breadcrumb.link == '#' %} class="active">{{breadcrumb.text}}{% else %}><a href="{{breadcrumb.link}}">{{breadcrumb.text}}</a>{% endif %}</li>
        {% endfor %}
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      {% block content%}
      {% endblock %}
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <!-- <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 2.4.0
    </div>
    <strong>Copyright &copy; 2014-2016 <a href="https://adminlte.io">Almsaeed Studio</a>.</strong> All rights
    reserved.
  </footer> -->

  <!-- Control Sidebar -->

  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

<!-- jQuery 3 -->
<script src="{{base_url}}public/components/jquery/dist/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="{{base_url}}public/components/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.7 -->
<script src="{{base_url}}public/components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Morris.js charts -->
<script src="{{base_url}}public/components/raphael/raphael.min.js"></script>
<script src="{{base_url}}public/components/morris.js/morris.min.js"></script>
<!-- Sparkline -->
<script src="{{base_url}}public/components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<!-- jQuery Knob Chart -->
<!-- daterangepicker -->
<script src="{{base_url}}public/components/moment/min/moment.min.js"></script>
<script src="{{base_url}}public/components/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- datepicker -->
<script src="{{base_url}}public/components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<!-- Slimscroll -->
<script src="{{base_url}}public/components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="{{base_url}}public/components/fastclick/lib/fastclick.js"></script>
<script src="{{base_url}}public/components/select2/dist/js/select2.min.js"></script>
<!-- AdminLTE App -->
<script src="{{base_url}}public/assets/js/adminlte.js"></script>

<!-- DataTables -->
<script src="{{base_url}}public/components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="{{base_url}}public/components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->

<script src="{{base_url}}public/assets/js/app.js"></script>
	{% include "admin/payments/_modal_laporan.html" %}
{% block bottom %}
{% endblock %}
</body>
</html>
