<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./public/components/bootstrap/dist/css/bootstrap.min.css">

    <title></title>
  </head>
  <body>
{% block body %}
{% endblock %}
  </body>
</html>
