<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/public/components/bootstrap/dist/css/bootstrap.min.css">
      <!-- Font Awesome -->
  <link rel="stylesheet" href="/public/components/font-awesome/css/font-awesome.min.css">
</head>
<body>
<div class="row">
  <div class="container">
    <div class="col-xs-12">
      <div class="row" style="border-bottom:1px solid">
        <div class="col-xs-2">
          <img src="/public/assets/img/logo.jpeg" alt="" style="width:100%"></div>
        <div class="col-xs-10">
          <h1>ID Travel</h1>
        </div>
      </div>
        <div class="row">
        {% block content %}
        {% endblock %}
        </div>
        <div class="row" style="margin-top:100px">
          <div class="col-xs-3 col-xs-offset-9">
            <div style="text-align:center">
              <h5>Mengetahui</h5>
              <p style="margin-top:40px;margin-bottom:5px;padding-bottom:5px">Khairul Hamzah</p>
              <p style="margin-top:0px;padding-top:0px">Manajer</p>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  window.print()
</script>
</body>
</html>
