
{% extends "dashboard.html" %}
{% set title=" Destination " %}

{% set breadcrumbs = [
	{'link':'#','text':' Destination '  }]
%}
{% block content %}
	<div class="">
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title"> Destination </h3>
						<a href="{{base_url}}index.php/manage_destinations/create" class="btn btn-primary pull-right">Data Baru</a>
						<div class="clearfix"></div>
					</div>
					<div class="box-body">
						<p class="text-muted font-13 m-b-30"></p>
							<table data-controller="manage_destinations" class="table table-striped " id="table_Destination">
		<thead>
			<tr>
				<th data-fieldname="name">Name </th>
				<th data-fieldname="city">City </th>
				<th></th>
			</tr>
		</thead>
</table>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block bottom %}
<script>

$(document).ready(function(){
    $('#table_Destination').loadTableData()
  })
</script>
{% endblock %}
