
	<div class="modal fade" id="ModalVehicle" data-init="0" data-controller="manage_vehicles" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Pilih Vehicle</h4>
				</div>
				<div class="modal-body">
					<table data-display="2" data-controller="manage_vehicles" class="table table-striped " id="table_Vehicle">
		<thead>
			<tr>
				<th></th>
				<th data-fieldname="name">Name </th>
				<th data-fieldname="plate_number">Plate_number </th>
				<th data-fieldname="number_of_seat">Number_of_seat </th>
				<th data-fieldname="type">Type </th>
			</tr>
		</thead>
	</table>

				</div>
			</div>
		</div>
	</div>
	