
{% extends "dashboard.html" %}
{% set title=" Vehicle " %}

{% set breadcrumbs = [
	{'link':'#','text':' Vehicle '  }]
%}
{% block content %}
	<div class="">
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title"> Vehicle </h3>
						<a href="/index.php/manage_vehicles/print_report" class="btn btn-primary pull-right">Cetak</a>

						<a href="{{base_url}}index.php/manage_vehicles/create" class="btn btn-primary pull-right">Data Baru</a>
						<div class="clearfix"></div>
					</div>
					<div class="box-body">
						<p class="text-muted font-13 m-b-30"></p>
							<table data-controller="manage_vehicles" class="table table-striped " id="table_Vehicle">
		<thead>
			<tr>
				<th data-fieldname="image" data-fieldtype="image"> Gambar </th>
					<th data-fieldname="name">Nama </th>
				<th data-fieldname="plate_number">Nomor Plat </th>
				<th data-fieldname="number_of_seat">Jumlah Kursi </th>
				<th data-fieldname="type">Tipe </th>
				<th></th>
			</tr>
		</thead>
</table>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block bottom %}
<script>

$(document).ready(function(){
    $('#table_Vehicle').loadTableData()
  })
</script>
{% endblock %}
