{% extends "print.html" %}
{% block content %}
<h2>Data Kendaraan</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>No Plat</th>
      <th>Nama</th>
      <th>Jumlah Kursi</th>
      <th>Tipe</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in data%}
    <tr>
      <td>{{obj.PlateNumber}}</td>
      <td>{{obj.Name}}</td>
      <td>{{obj.NumberOfSeat}}</td>
      <td>{{obj.Type}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
