    
<div class="modal fade" id="ModalCustomer" data-init="0" data-controller="manage_customers" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Customer</h4>
            </div>
            <div class="modal-body">
                <table data-display="2" data-controller="manage_customers" class="table table-striped table-hover " id="table_Customer">
                    <thead>
                        <tr>
                            <th></th>
                            <th data-fieldname="id_card">Identitas</th>
                            <th data-fieldname="name">Nama</th>
                            <th data-fieldname="address">Alamat</th>
                            <th data-fieldname="phone">Telepon</th>
                            <th data-fieldname="email">{{res.string.email }}</th>
                        </tr>
                    </thead>
                </table>
                    
            </div>
        </div>
    </div>
</div>
    