
{% extends "dashboard.html" %}
{% set title=" Customer " %}
{% if customers %}
{% set bc_text = customers.id  %}
{% else %}
{% set bc_text = res.string.new %}
{% endif %}
{% set breadcrumbs = [
{'link': base_url~'index.php/manage_customers','text': res.string.customer },
{'link':'#','text':bc_text  }]
%}
{% block content %}
<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form id="form_Customer" method="post" action="{{base_url}}index.php/manage_customers/write/{{ customers.id }}" data-parsley-validate class="form-horizontal form-label-left">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title"> Pelanggan </h3>
                    <a href="{{base_url}}index.php/manage_customers" class="btn btn-default pull-right">Kembali</a> {% if reservations %}
                    <a href="#" class="btn btn-danger pull-right" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash-o"></i> Hapus</a>
                    <a href="#" class="btn btn-primary pull-right" id="btn-edit"><i class="fa fa-edit"></i> Edit</a>
                    <a href="#" style="display:none" class="btn btn-primary pull-right" id="btn-canceledit">Batal</a> {% endif %}
                    <button type="submit" {% if reservations %}style="display:none" {% endif %} name="button" class="btn btn-success pull-right" id="btn-save"><i class="fa fa-save"></i> Simpan</button>
                    <div class="clearfix"></div>
                </div>
                <div class="box-body">
                    
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="IdCard">KTP</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div {% if customers %}style="display:none"{% endif %} class="input-wrap">
                                <input type="text" placeholder="{{ res.string.id_card }}" id="IdCard" value="{{ customers.IdCard }}"
                                   name="IdCard" required="required" class="form-control  col-md-7 col-xs-12">
                            </div>
                            {% if customers %}
                            <p class="control-value">{{ customers.IdCard  }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <input type="hidden" name="IdCardType" value="KTP">
                    
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Name">Nama Pelanggan</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div {% if customers %}style="display:none"{% endif %} class="input-wrap">
                                <input type="text" placeholder="Nama Pelanggan" id="Name" value="{{ customers.Name }}"
                                   name="Name" required="required" class="form-control  col-md-7 col-xs-12">
                            </div>
                            {% if customers %}
                            <p class="control-value">{{ customers.Name  }}</p>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Gender">Jekel</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div {% if customers %}style="display:none"{% endif %} class="input-wrap">
                                <select name="Gender" class="select form-select col-md-7 col-xs-12">
                                    <option value="M" {{ customers.Gender == 'M'?'selected':'' }}>Laki Laki</option>
                                    <option value="F" {{ customers.Gender == 'F'?'selected':'' }}>Perempuan</option>
                                </select>
                            </div>
                            {% if customers %}
                            <p class="control-value">{{ customers.Gender == 'M'?'Laki laki':'Perempuan' }}</p>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Address">Alamat</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div {% if customers %}style="display:none"{% endif %} class="input-wrap">
                                <input type="text" placeholder="Alamat" id="Address" value="{{ customers.Address }}"
                                   name="Address" required="required" class="form-control  col-md-7 col-xs-12">
                            </div>
                            {% if customers %}
                            <p class="control-value">{{ customers.Address  }}</p>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Phone">Telepon</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div {% if customers %}style="display:none"{% endif %} class="input-wrap">
                                <input type="text" placeholder="Telepon" id="Phone" value="{{ customers.Phone }}"
                                   name="Phone" required="required" class="form-control  col-md-7 col-xs-12">
                            </div>
                            {% if customers %}
                            <p class="control-value">{{ customers.Phone  }}</p>
                            {% endif %}
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Email">Email</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div {% if customers %}style="display:none"{% endif %} class="input-wrap">
                                <input type="text" placeholder="{{ res.string.email }}" id="Email" value="{{ customers.Email }}"
                                   name="Email"  class="form-control  col-md-7 col-xs-12">
                            </div>
                            {% if customers %}
                            <p class="control-value">{{ customers.Email  }}</p>
                            {% endif %}
                        </div>
                    </div>
                    
                </div>
        </form>
    </div>
</div>
<!-- Modal -->

{% endblock %}
{% block bottom%}

{% endblock %}
