
{% extends "dashboard.html" %}
{% set title=" Customer " %}

{% set breadcrumbs = [
	{'link':'#','text':res.string.customer  }]
%}
{% block content %}
	<div class="">
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">{{res.string.customers}}</h3>
						<a href="{{base_url}}index.php/manage_customers/create" class="btn btn-primary pull-right">Baru</a>
						<a href="/index.php/manage_customers/print_report" class="btn btn-primary pull-right">Cetak</a>
						<div class="clearfix"></div>
					</div>
					<div class="box-body">
						<p class="text-muted font-13 m-b-30"></p>
							<table data-controller="manage_customers" class="table table-striped table-hover " id="table_Customer">
		<thead>
			<tr>
				<th data-fieldname="id_card">Nomor Kartu Identitas</th>
				<th data-fieldname="id_card_type">Jenis Kartu Identitas</th>
				<th data-fieldname="name">Nama</th>
				<th data-fieldname="gender">Jekel</th>
				<th data-fieldname="address">Alamat</th>
				<th data-fieldname="phone">No Telepon</th>
				<th data-fieldname="email">Email</th>
				<th data-fieldname="created_at" data-fieldtype="datetime">Waktu Pendaftaran</th>
				<th></th>
			</tr>
		</thead>
</table>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
{% block bottom %}
<script>

$(document).ready(function(){
    $('#table_Customer').loadTableData({
			order:{
				col:7,
				order:'desc'
			}
		})
  })
</script>
{% endblock %}
