{% extends "print.html" %}
{% block content %}
<h2>Data Pelanggan</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>No KTP</th>
      <th>Nama</th>
      <th>Alamat</th>
      <th>Nomor Telepon</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in data%}
    <tr>
      <td>{{obj.IdCard}}</td>
      <td>{{obj.Name}}</td>
      <td>{{obj.Address}}</td>
      <td>{{obj.Phone}}</td>
      <td>{{obj.Email}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
