{% extends "frontpage.html" %}
{% block content %}
<div class="login-box">
  <div class="login-logo">
    Sistem Pengelolaan Penyewaan Mobil
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in</p>

    <form action="/index.php/auth/do_login" method="post">
      <div class="form-group has-feedback">
        <input type="text" id="Username" name="Username" class="form-control"
        placeholder="{{res.string.username}}" required autofocus>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" id="Password" name="Password" class="form-control"
        placeholder="{{res.string.password}}" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <div class="col-xs-4 col-xs-offset-4">
          <a href="/index.php/register" class="btn btn-primary btn-block btn-flat">Register</a>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <!-- /.social-auth-links -->
<!--
    <a href="#">I forgot my password</a><br>
    <a href="register.html" class="text-center">Register a new membership</a> -->

  </div>
  <!-- /.login-box-body -->
</div>
{% endblock %}
