{% extends "frontpage.html" %}
{% block content%}
<div class="register-box">
  <div class="register-logo">
    <a href="#">Pendaftaran</a>
  </div>

  <div class="register-box-body">

    <form action="" method="post">
      <div class="form-group has-feedback">
        <input type="text" name="name" class="form-control" placeholder="Nama Lengkap">
      </div>
      <div class="form-group has-feedback">
        <input type="text" name="id_no" class="form-control" placeholder="No Ktp">
      </div>
      <div class="form-group has-feedback">
        <input type="text" name="phone" class="form-control" placeholder="Nomor Telepon">
      </div>
      <div class="form-group has-feedback">
        <select name="gender" class="form-control form-select" placeholder="Jenis Kelamin">
          <option value="M">Laki laki</option>
          <option value="F">Perempuan</option>
        </select>
      </div>
      <div class="form-group has-feedback">
        <input name="email" type="email" class="form-control" placeholder="Email">
      </div>
      <div class="form-group has-feedback">
        <input name="password" type="password" class="form-control" placeholder="Password">
      </div>
      <div class="form-group has-feedback">
        <textarea name="address" name="name" class="form-control"  placeholder="Alamat"></textarea>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
        </div>
        <!-- /.col -->
      </div>
    </form>


    <a href="/index.php/login" class="text-center">Saya telah terdaftar</a>
  </div>
  <!-- /.form-box -->
</div>
{% endblock %}
