
	<div class="modal fade" id="ModalLaporan" data-init="0" data-controller="manage_payments" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
        <form action="" id="frm_laporan" method="get">

				<div class="modal-header">

					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Laporan</h4>
				</div>
				<div class="modal-body">
            <div class="form-group">
              <label for="">Mulai</label>
              <input type="text" name="start" class="input-date form-control">
            </div>
            <div class="form-group">
              <label for="">Selesai</label>
              <input type="text" name="finish" class="input-date form-control">
            </div>
    		</div>
        <div class="modal-footer">
          <input type="submit" value="ok" class="btn btn-success pull-right">
        </div>
        </form>
			</div>
		</div>
	</div>
