
	<div class="modal fade" id="ModalUploadPayment" data-init="0" data-controller="manage_payments" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
        <form enctype="multipart/form-data" action="/index.php/manage_payments/upload_attachment/{{payments.Id}}" method="post">

				<div class="modal-header">

					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Payment</h4>
				</div>
				<div class="modal-body">
            <input type="file" name="attachment" value="">


				</div>
        <div class="modal-footer">
          <input type="submit" value="ok" class="btn btn-success pull-right">
        </div>
        </form>
			</div>
		</div>
	</div>
