
	<div class="modal fade" id="ModalPayment" data-init="0" data-controller="manage_payments" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Payment</h4>
				</div>
				<div class="modal-body">
					<table data-display="2" data-controller="manage_payments" class="table table-striped table-hover " id="table_Payment">
		<thead>
			<tr>
				<th></th>
				<th data-fieldname="reservation_id">{{res.string.reservation_id }}</th>
				<th data-fieldname="message">{{res.string.message }}</th>
				<th data-fieldname="rent_fee">{{res.string.rent_fee }}</th>
				<th data-fieldname="penalty_fee">{{res.string.penalty_fee }}</th>
				<th data-fieldname="total">{{res.string.total }}</th>
				<th data-fieldname="verified_by">{{res.string.verified_by }}</th>
			</tr>
		</thead>
	</table>

				</div>
			</div>
		</div>
	</div>
	