
{% extends "dashboard.html" %}
{% set title=" Payment " %}
{% if payments %}
	 {% set bc_text = payments.id  %}
{% else %}
	 {% set bc_text = res.string.new %}
{% endif %}
{% set breadcrumbs = [
	{'link': base_url~'index.php/manage_payments','text': res.string.payment },
	{'link':'#','text':bc_text  }]
%}
{% block content %}
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">

		<form id="form_Payment" method="post" action="{{base_url}}index.php/manage_payments/write/{{ payments.id }}" data-parsley-validate class="form-horizontal form-label-left">
			<div class="box box-info">
				<div class="box-header with-border">
					<a href="#" class="btn btn-primary pull-right" id="btn-edit"><i class="fa fa-edit"></i> Edit</a>

					<button type="submit" {% if payments %}style="display:none" {% endif %} name="button" class="btn btn-success pull-right" id="btn-save"><i class="fa fa-save"></i> Simpan</button>
{% if payments %}<a href="/manage_payments/print_kwitansi/{{payments.Id}}" class="btn btn-primary pull-right">Print Detail Pembayaran</a>{% endif%}
{% if res.session.Level == 3 %}
<a href="" data-toggle="modal" data-target="#ModalUploadPayment" data class="btn btn-primary pull-right">Upload Bukti Pembayaran</a>
{% else %}
{% if not payments.Confirm %}
<a href="/index.php/manage_payments/confirm/{{payments.Id}}" class="btn btn-primary pull-right">Konfirmasi</a>
{% endif %}
{% endif %}
				</div>
				<div class="box-body">

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="ReservationId">Kode Pemesanan</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if payments %}style="display:none"{% endif %} class="input-wrap input-group">
							<input type="hidden" type="text" id="ReservationId" value="{{ payments.ReservationId }}" name="ReservationId"  >
							<input type="text" required="required" name="displayReservationId" id="displayReservationId"  placeholder="Pemesanan" value="{{ payments.Reservation }}" class="form-control" />
							<span class="input-group-btn">
								<button class="btn btnModal btn-default" id="btnReservationId"  data-target="ModalReservation" type="button">Cari</button>
							</span>
						</div>
								{% if payments %}
									<p class="control-value">{{ payments.Reservation.Code  }}</p>
								{% endif %}
							</div>
						</div>



					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="RentFee">Biaya Sewa</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if payments %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" placeholder="Biaya Sewa" id="RentFee" value="{{ payments.RentFee }}"
							name="RentFee" required="required" class="form-control  col-md-7 col-xs-12">
						</div>
								{% if payments %}
									<p class="control-value">{{ payments.RentFee  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="PenaltyFee">Denda</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if payments %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" placeholder="Denda" id="PenaltyFee" value="0"
							name="PenaltyFee"  class="form-control  col-md-7 col-xs-12">
						</div>
								{% if payments %}
									<p class="control-value">{{ payments.PenaltyFee  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Total">Total</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if payments %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" placeholder="Total" id="Total" value="{{ payments.Total }}"
							name="Total" required="required" class="form-control  col-md-7 col-xs-12">
						</div>
								{% if payments %}
									<p class="control-value">{{ payments.Total  }}</p>
								{% endif %}
							</div>
						</div>
						{% if payments %}
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Total">Status</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
										<label for="">{{payments.Confirm?'Terkonfirmasi':'Pending'}}</label>

								</div>
							</div>
							{% endif %}
						{% if payments %}
						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12" for="Total">Bukti Transfer</label>
							<div class="col-md-6 col-sm-6 col-xs-12">
										<img style="width:80%" src="{{ payments.Attachment }}" alt="">

								</div>
							</div>
							{% endif %}

				</div>
		</form>
	</div>
</div>
<!-- Modal -->
{% include "admin/reservations/_modal.html" %}
{% include "admin/users/_modal.html" %}
{% include "admin/payments/_modal_upload.html" %}
{% endblock %}
{% block bottom%}
<script type="text/javascript">
	$('#ReservationId').change(function(e){
		var res_id = $(this)
		$.ajax({
			dataType:'JSON',
			url:'/index.php/manage_reservations/detail/'+res_id.val()
		}).done(function(reservation){
			console.log(reservation);
			$.ajax({
				dataType:'JSON',
				url:'/index.php/manage_routes/detail/'+reservation.RouteId
			}).done(function(route){
				var tot_day = moment(reservation.EndTime).diff(moment(reservation.StartTime),'days')+1
				var tot_pay = tot_day*route.BasePrice
				$('#RentFee').val(tot_pay);
				$('#PenaltyFee').trigger('change')
				console.log(tot_pay);
			})
		})
	})
	$('#PenaltyFee').change(function(e){
		$('#Total').val(($(this).val()*1)+($('#RentFee').val()*1))
	})
</script>
{% endblock %}
