
{% extends "dashboard.html" %}
{% set title=" Payment " %}

{% set breadcrumbs = [
	{'link':'#','text':res.string.payment  }]
%}
{% block content %}
	<div class="">
		<div class="clearfix"></div>
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">{{res.string.payments}}</h3>
						<!-- <a href="{{base_url}}index.php/manage_payments/create" class="btn btn-primary pull-right">Transaksi</a> -->
						{% if res.session.Level == 2 %}
						<a href="/index.php/manage_payments/print_report" class="prt_laporan btn btn-primary pull-right">Cetak</a>
						<a href="/index.php/manage_payments/print_denda" class="prt_laporan btn btn-primary pull-right">Cetak laporan denda</a>
						{% endif %}
						<div class="clearfix"></div>
					</div>
					<div class="box-body">
						<p class="text-muted font-13 m-b-30"></p>
							<table data-controller="manage_payments" class="table table-striped table-hover " id="table_Payment">
		<thead>
			<tr>
				<th data-fieldname="reservation_id">Pemesanan</th>
				<th data-fieldname="rent_fee">Biaya Sewa</th>
				<th data-fieldname="penalty_fee">Denda</th>
				<th data-fieldname="total">Total</th>
				<th data-fieldname="payment_status" >Status</th>
				<th></th>
			</tr>
		</thead>
</table>
					</div>
				</div>
			</div>
		</div>
	</div>



{% endblock %}
{% block bottom %}
<script>

$(document).ready(function(){
    $('#table_Payment').loadTableData()

  })
</script>
{% endblock %}
