{% extends "print.html" %}
{% block content %}
<h2>Data Denda Periode {{start}} - {{finish}}</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>No Pemesanan</th>
      <th>Pelanggan</th>
      <th>Denda</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in data%}
    <tr>
      <td>{{obj.Reservation.Code}}</td>
      <td>{{obj.Reservation.Customer.Name}}</td>
      <td>{{obj.PenaltyFee}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
