{% extends "print.html" %}
{% block content %}
<h2>Data Pembayaran Periode {{start}} - {{finish}}</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>No Pemesanan</th>
      <th>Biaya Sewa</th>
      <th>Denda</th>
      <th>Total</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in data%}
    <tr>
      <td>{{obj.Reservation.Code}}</td>
      <td>{{obj.RentFee}}</td>
      <td>{{obj.PenaltyFee}}</td>
      <td>{{obj.Total}}</td>
      <td>{{obj.Confirm?'Dikonfirmasi':'Pending'}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
