
	<div class="modal fade" id="ModalSchedule" data-init="0" data-controller="manage_schedules" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Pilih Schedule</h4>
				</div>
				<div class="modal-body">
					<table data-display="2" data-controller="manage_schedules" class="table table-striped " id="table_Schedule">
		<thead>
			<tr>
				<th></th>
				<th data-fieldname="name">Name </th>
				<th data-fieldname="route_id">Route_id </th>
				<th data-fieldname="day">Day </th>
				<th data-fieldname="time">Time </th>
			</tr>
		</thead>
	</table>

				</div>
			</div>
		</div>
	</div>
	