
{% extends "dashboard.html" %}
{% set title=" Schedule " %}
{% if schedules %}
	 {% set bc_text = schedules.name %}
{% else %}
	 {% set bc_text = 'Baru' %}
{% endif %}
{% set breadcrumbs = [
	{'link': base_url~'index.php/manage_schedules','text':' Schedule '},
	{'link':'#','text':bc_text  }]
%}
{% block content %}
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<form id="form_Schedule" method="post" action="{{base_url}}index.php/manage_schedules/write/{{ schedules.id }}" data-parsley-validate class="form-horizontal form-label-left">
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title"> Schedule </h3>
					<a href="{{base_url}}index.php/manage_schedules" class="btn btn-default pull-right">Kembali</a>
					{% if schedules %}
						<a href="#" class="btn btn-danger pull-right" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash-o"></i> Hapus</a>
						<a href="#" class="btn btn-primary pull-right" id="btn-edit"><i class="fa fa-edit"></i> Edit</a>
						<a href="#" style="display:none" class="btn btn-primary pull-right" id="btn-canceledit">Batal</a>
					{% endif %}
					<button type="submit" {% if schedules %}style="display:none"{% endif %}  name="button" class="btn btn-success pull-right" id="btn-save"><i class="fa fa-save"></i> Simpan</button>
					<div class="clearfix"></div>
				</div>
				<div class="box-body">
					
					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Name </label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if schedules %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" id="name" value="{{ schedules.name }}"
							name="name" required="required" class="form-control  col-md-7 col-xs-12">
						</div>
								{% if schedules %}
									<p class="control-value">{{ schedules.name  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Route_id </label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if schedules %}style="display:none"{% endif %} class="input-wrap input-group">
							<input type="hidden" type="text" id="route_id" value="{{ schedules.route_id }}" name="route_id"  >
							<input type="text" name="displayroute_id" id="displayroute_id"  value="{{ schedules.Route }}" class="form-control" />
							<span class="input-group-btn">
								<button class="btn btnModal btn-default" id="btnroute_id"  data-target="ModalRoute" type="button">Cari</button>
							</span>
						</div>
								{% if schedules %}
									<p class="control-value">{{ schedules.Route.name  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Day </label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if schedules %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" id="day" value="{{ schedules.day }}"
							name="day" required="required" class="form-control  col-md-7 col-xs-12">
						</div>
								{% if schedules %}
									<p class="control-value">{{ schedules.day  }}</p>
								{% endif %}
							</div>
						</div>

					<div class="form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Time </label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						<div {% if schedules %}style="display:none"{% endif %} class="input-wrap">
							<input type="text" id="time" value="{{ schedules.time }}"
							name="time" required="required" class="form-control  col-md-7 col-xs-12">
						</div>
								{% if schedules %}
									<p class="control-value">{{ schedules.time  }}</p>
								{% endif %}
							</div>
						</div>

				</div>
			</div>
		</form>
	</div>
</div>
<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
	      <p>Apakah anda yakin ingin menghapus data ini?</p>
      </div>
      <div class="modal-footer">
				<form method="post" action="{{ base_url }}index.php/manage_schedules/delete/{{ schedules.id }}">
        <button type="button" class="btn btn-default" data-dismiss="modal">Tidak</button>
        <input name="confirm" type="submit" value="Ya" class="btn btn-primary" />
				</form>
      </div>
    </div>
  </div>
</div>
{% include "admin/routes/_modal.html" %}

{% endblock %}
{% block bottom%}
<script>
$('#btn-edit').click(function(){
	$('#btn-canceledit').show()
	$('#btn-save').show()
	$('.input-wrap').show()
	$('.control-value').hide()
	$(this).hide()
})
$('#btn-canceledit').click(function(){
	$('#btn-edit').show()
	$('#btn-save').hide()
	$('.input-wrap').hide()
	$('.control-value').show()
	$(this).hide()
})
$(function() {
	$('.input-date').daterangepicker({
	singleDatePicker: true,
	showDropdowns: true,
	locale: {
		format: 'YYYY/MM/DD'
	}
},function(start, end, label) {
	});
$('.input-datetime').daterangepicker({
	singleDatePicker: true,
	showDropdowns: true,
	timePicker: true,
	timePickerIncrement: 30,
	locale: {
		format: 'YYYY/MM/DD hh:mm:ss'
	}
},
function(start, end, label) {
	});
});
</script>
{% endblock %}
